@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

body {
  background-image: url("./bg-transparent.jpg");
  background-size: 100%;
}

p {
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  text-shadow: 0.5px 0.5px black, 1px 1px black, 2px 2px #f1f4d8, 2.5px 2.5px #822d2f, 3px 3px #822d2f, 3.5px 3.5px #822d2f, 4px 4px #822d2f, 4.5px 4.5px #822d2f, 5px 5px #822d2f, 5.5px 5.5px #822d2f, 6px 6px #822d2f, 6.5px 6.5px #822d2f, 7px 7px #822d2f, 7.5px 7.5px #822d2f;
}

#slider {
  margin-top: 200px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 100%;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  padding: 20px;
  border: 10px dotted gold;
  background: transparent;
  position: relative;
  z-index: 1;
}

.overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner-pictures {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner-pictures {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner-pictures {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner-pictures {
  margin-left: -300%;
}

#slide5:checked ~ #slides .inner-pictures {
  margin-left: -400%;
}

#slides .inner-pictures {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}

#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#control {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#control label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#control label:hover {
  opacity: 1;
}

#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: gold;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
  }
}

